<html>
    
    <head>
        <link rel="stylesheet" href="./css/setup.css">
        <link rel="stylesheet" href="./css/global.css">
        <title>Setup</title>
    </head>

    <body>

        <header>
              <img id = "bannerImage" src="./images/MainMenuBanner.jpg"/>
              <h1 id = "bannerText">The Oregon Trail</h1>
        </header>
    
        <nav id = "navWrapper">        
            <section id = "menuContainer">
                <h2> Use your mouse to select the buttons</h2>
                <h2> Change values by editing the textfield</h2>
                <h3 id  = "postButton"> Send POST</h3>
                <input id = "postInput", type = 'text', value = '{'
                <h3 id  = "menuItem_00"> Resume Game</h3>

            </section>
        </nav>


        <script type="text/javascript" src="./js/setup.js"></script>
        <script type="text/javascript" src="./js/global.js"></script>
        
    </body>
    
</html>

