<html>
    
    <head>
        <link rel="stylesheet" href="./css/trail.css">
        <link rel="stylesheet" href="./css/global.css">
        <title>**Page Name**</title>
    </head>

    <body>

        <header>
              <img id = "bannerImage" src="./images/MainMenuBanner.jpg"/>
              <h1 id = "bannerText">The Oregon Trail</h1>
        </header>


        <script type="text/javascript" src="./js/***.js"></script>
        <script type="text/javascript" src="./js/global.js"></script>
    </body>
    
</html>