<html>
    
    <head>
        <link rel="stylesheet" href="./css/topten.css">
        <link rel="stylesheet" href="./css/global.css">
        <title>Leaderboard</title>
    </head>

    <body>

        <header>
              <img id = "bannerImage" src="./images/MainMenuBanner.jpg"/>
              <h1 id = "bannerText">The Oregon Trail</h1>
        </header>
        
        
        <section id = 'leaderboardWrapper'>
        
            <section id = 'leaderboardContainer'>
                
                <section id = 'lb-header'>

                    <h2 id= 'lb-header-text'> 
                        <section class = 'lb-row'>
                            <section class = 'lb-column'>Ranking</section>
                            <section class = 'lb-column'>Name</section>
                            <section class = 'lb-column'>Score</section>
                            <section class = 'lb-column'>Date</section>
                        </section>
                    </h2>
                </section>


                    
                
                <h3 id = 'rankings'></h3>
                
                
            </section>         
            
        </section>
        

        <script type="text/javascript" src="./js/topten.js"></script>
        <script type="text/javascript" src="./js/global.js"></script>
    </body>
    
</html>