<html>

<head>
    <link rel="stylesheet" href="./css/trail.css">
    <link rel="stylesheet" href="./css/global.css">
    <title>Main Menu</title>
</head>

    
    <body>
        
        <header>
                    <img id = "bannerImage" src="./images/MainMenuBanner.jpg"/>
                    
                    <h1 id = "bannerText">The Oregon Trail</h1>
        </header>
        
        
        
        <section id = "mainScreenContainer">
            <img id = "mainScreenImage" src="./images/FirstGameScreen.jpg"/>
        </section>
        
        
        
        <aside id = "gameStatsWrapper">
        
            <section id = "gameStatsContainer">  
                
                <details id = gameStatRow>
                    <summary> Game Summary </summary>
                    
                    <figure id = "daysOnTrail"> Days On Trail: </figure>
                    <figure id = "milesTraveled"> Miles Traveled: </figure>
                    <figure id = "partyHealth"> Party Health Status: </figure>
                    <figure id = "currentWeather"> Current Weather: </figure>
                    <figure id = "currentPace"> Current Pace: </figure>
                    <figure id = "currentTerrain"> Current Terrain: </figure>
                    <figure id = "partySize"> Party Members Alive: </figure> 
                
                </details>

            </section>
            
        </aside>
        
    
        
        <script type="text/javascript" src="./js/trail.js"></script>
        <script type="text/javascript" src="./js/global.js"></script>
        
    </body>
</html>