html {
    overflow-y: hidden;
}

body {
    background-color: #b2aca1;
}

/* The styling of the banner and the "The Oregon Trail" text within it */

#bannerImage {
    width: 100%;
}

#bannerText {
    position: absolute;
    color: #a32020;
    font-size: 300%;
    text-shadow: 2px 2px #000000;
    top: 8%;
    left: 65%;
    font-family: Trattatello, fantasy;
    transform: translate(-50%, -50%);
}


/* For pages that include navs/menu-options  within the middle of the screen */

#navWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 5%;  
}

#menuContainer {
    border: 2px solid black;
    margin: auto;
    width: 50%;
    height: 57%;
    padding-top: 0%;
    margin: 0 auto;
    background-color: #e5decf;
}

#menuContainer h2 {
    padding-left: 39%;
}


#menuContainer h3 {
    border: 2px solid black;
    margin-left: 25%;
    align-self:auto;
    width: 45%;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    padding: 15px;
    background-color: #fff7e6;
}