#menuItem_1 {
    opacity: 1;
}

#menuItem_2 {
    opacity: 1;
}

#menuItem_3 {
    opacity: 1;
}

#menuItem_4 {
    opacity: 1;
}


#inputLabel {
    margin-left: 1.5%;
}

#usernameInput {
    margin-left: 3%;
}

